<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sudan_freedom">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application
    android:label=" شهداءنا ما ماتو">
    <application android:icon="@mipmap/ic_launcher">
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
